body {
  color: #5a6275;
}
h3 {
  display: inline;
  font-size: 45px;
  color: black;
}
p {
  font-size: 12px;
  text-transform: capitalize;
}
.border {
  width: 750px;
  border-radius: inline;
}
h1 {
  font-size: 25px;
}
